.ud
{
text-decoration: none;
}

.h1
{
    margin-left: 5px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.border
{
    margin-top: 100px;
    margin-left: 510px;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 10px 20px 30px;
    background-color: whitesmoke
}

.t
{
    font-family: 'Times New Roman';
    font-weight: bold;
}

.u
{
    text-decoration: none;
}

.add
{
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-top:70px ;
}