h1
{
    padding-top: 30px;
    font-family: 'Times New Roman';
}

.cards
{
    padding-top: 30px;
}

.cardd
{
    height: 500px;
}

.p
{
    font-family: 'Times New Roman';
    color: black;
    text-decoration: none;
}