

.h1
{
    margin-top: 240px;
    margin-left:5px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.all_css
{
    font-weight: bold;
}

.resetpass
{
    padding-left: 220px;
    text-decoration: none;
    color: cornflowerblue;
}